[Unit]
Description=Magic Trackpad Auto-reconnect Monitor
After=bluetooth.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/trackpad-monitor
Restart=always
RestartSec=1

[Install]
WantedBy=default.target